
  <% if comment.persisted? %>
    <p>
      <strong>Content:</strong>
      <%= comment. content %>
    </p>         

    <p>
      <strong>Comment_at:</strong>
      <%= comment.date %>
    </p>


    <p>
        <%= link_to "Destroy Comment", [comment.post.bblog, comment.post, comment], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                    } %>
    </p>


    <h2> like</h2>
    <%= button_to 'Like', bblog_post_comment_likes_path(@bblog, @post, @comment), method: :post %>



  <%end%>

  
