<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Show this post", bblog_post_path(@post.bblog, @post) %> |
  <%= link_to "Back to posts", bblog_posts_path %>
</div>
